/* OLD CODES */
.legacyFrame 
{
    width: 100%; height: 100vh; 
    border: none; display: block;
}

/* LOTTIE CODES */

.lottieSplash 
{
    position: fixed; top: 0;
    left: 0; width: 100vw;
    height: 100vh;  background-color: #1e1e2f;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    color: #fff; z-index: 9999; 
    opacity: 0; transition: opacity 0.5s ease-in-out;
}

.fadeIn 
{
    opacity: 1;
}

.fadeOut 
{
    opacity: 0;
}

/* MOBILE RESTRICTION */
.mobile-warning {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 100vh; text-align: center;
  font-size: 1.2rem; background-color: #1e1e2f;
  color: #fff;
}

.mobile-warning p {
  margin-top: 20px;
}